@use '../abstracts';
@use '../layout';

.header {
  @extend .bgc-32;
  width: 100%;
  &__container {
    @extend .container, .d-fl, .jc-sb, .ai-c, .py-3;
  }
  &__right {
    @extend .d-fl, .ai-c;
    gap: 1.5em;
  }
  &__nav {
    a {
      @extend .pxy-2;
    }
  }
  &__logo {
    @extend .fw-700, .fsz-12, .clr-11;
    text-transform: uppercase;
  }
}
