@use '../abstracts' as *;

.hero {
  @extend .d-fl, .fd-c, .ai-c;
  @extend .fd-r-d;
  gap: 1.5em;
  padding-top: 3em;
  padding-bottom: 3em;
  &__content {
    // @extend .my-4;
    text-align: center;
    @include on-desktop {
      @extend .fsz-12-d;
      width: 50%;
      text-align: left;
    }
  }
  &__title {
    @extend .clr-11, .mb-1;
    font-size: 2.8em;
  }
  &__description {
    @extend .clr-b2;
  }
  &__image {
    @extend .mt-3;
    @include on-mobile {
      max-width: 25em;
    }
    @include on-desktop {
      width: 50%;
    }
  }
}
