@use '../abstracts';

.playground {
  @extend .d-no;

  &__container {
    @extend .mx-a, .py-5, .px-5, .br-4;
    width: 100%;
    height: fit-content;
    @media (min-width: 768px) {
      width: 70%;
    }
    //border-radius: 50px;
  }
  &__header {
    @extend .d-fl, .fd-r, .jc-sb;
  }
  &__attempts {
    @extend .d-fl, .fd-c;
    &.stars__container {
      @extend .d-fl, .fd-r, .mt-1;
    }
  }
  &__question-index {
    @extend .d-fl, .fd-c;
  }
  &__questionnaire {
    @extend .d-fl, .fd-c, .ai-c;
  }
  &__form {
    @extend .d-fl, .fd-c, .ai-c;
    legend {
      @extend .mb-3;
    }
    &.input__container {
      @extend .ml-3;
    }
  }

  & .button {
    @extend .mx-a, .mt-4, .mb-3, .fsz-12;
  }

  &.active {
    @extend .d-bl;
  }
}

.attempts-star {
  width: 25px;
}

.line-separator {
  @extend .mt-3, .mt-3-d, .mb-4, .mb-4;
  height: 3px;
  width: 55px;
  background-color: #3a4a3dff;
}
