@use '../abstracts';

.playground {
  &__container {
    @extend .bgc-32, .mx-a, .py-5, .px-5, .br-4;
    width: 70%;
    height: fit-content;
    //border-radius: 50px;
  }
  &__header {
    @extend .d-fl, .fd-r, .jc-sb;
  }
  &__attempts {
    @extend .d-fl, .fd-c;
    &.stars__container {
      @extend .d-fl, .fd-r, .mt-1;

    }
  }
  &__question-index {
    @extend .d-fl, .fd-c;
  }
  &__questionnaire {
    @extend .d-fl, .fd-c, .ai-c;
  }

  &__form {
    @extend .d-fl, .fd-c, .ai-c;
    legend {
      @extend .mb-3;
    }
    &.input__container {
      @extend .ml-3
    }
  }
}

.attempts-star {
  width: 25px;
}

.line-separator {
  @extend .mt-3, .mt-3-d, .mb-4, .mb-4;
  height: 3px;
  width: 55px;
  background-color: #3A4A3DFF;
}

.button__container {
  @extend .d-fl, .fd-r, .mt-4;
  .button__next {
    @extend .my-3, .mx-a, .br-2, .bgc-42, .px-5, .py-3, .clr-w1, .as-c;
  }
}