@use './base';
@use './components';
@use './abstracts' as a;

@use '../components/Header/Header.scss';
@use '../components/Hero/Hero.scss';
@use '../components/Footer/Footer.scss';

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 1em;
}
header,
footer {
  background-color: a.$headerColor;
  width: 100%;
  padding: 1em 0;
}
*:focus {
  outline: 4px solid lime;
}