$display: (
  'fl': 'flex',
  'bl': 'block',
  'no': 'none',
  'gr': 'grid',
);

$position: (
  'ab': 'absolute',
  're': 'relative',
);

$flexDirection: (
  'c': 'column',
  'r': 'row',
);

$flexWrap: (
  'w': 'wrap',
  'nw': 'nowrap',
);

$justifyContent: (
  'fs': 'flex-start',
  'fe': 'flex-end',
  's': 'start',
  'e': 'end',
  'l': 'left',
  'r': 'right',
  'c': 'center',
  'sb': 'space-between',
  'sa': 'space-around',
  'se': 'space-evenly',
);

$alingItems: (
  's': 'stretch',
  'fs': 'flex-start',
  'fe': 'flex-end',
  'c': 'center',
  'b': 'baseline',
);

$alignContent: (
  'fs': 'flex-start',
  'fe': 'flex-end',
  'c': 'center',
  'sb': 'space-between',
  'sa': 'space-around',
  'se': 'space-evenly',
);

$alignSelf: (
  'st': 'start',
  'fs': 'flex-start',
  'fe': 'flex-end',
  'c': 'center',
)